        header {
            display: flex;
            justify-content: space-between;
            background-color: #2c2c54;
            border-bottom: 10px solid #000;
            padding: 10px 20px;
        }
        nav{
            text-align: right
        }

        a {
            display: inline-flex;
            align-items: center;
            color: #FFF;
            font-size: 20;
            font-family: "Fira Code", Arial, Helvetica;
            font-weight: 500;
            text-decoration: none;
            margin-right: 30px;
            height: 26px;
            height: 10px;
        
        

        }

        a::before {
            content: "";
            background-color: #ccae62;
            width: 10px;
            height: 10px;
            margin-right: 10px;

        }

        #button:hover{
            background-color: #000;
            transition: background-color .8s;
        }
        
        #button{
            display: inline-block;
            background-color: #BA1F33;
            height: 60px;
            line-height: 60px;
            padding-left: 20px;
            padding-right: 18px;
            box-shadow: 5px 5px 0 #000

        }
        