.section{
    background-color: #2c2c54;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #000;
    
}

.section .main-title{

    margin-bottom: 60px;

}
.section-second .main-title-third{
    background-color: rgb(90, 75, 75);
    padding-top: 50px;
    padding-bottom: 100px;
}
