.skill-main {

    display: flex;
    align-items: center;
    font-family: 'Press Start 2P' , cursive;
    color: #FFF; 
    font-size: 25px;
    padding-bottom: 60px;
}    

.skill-main .icon{

    margin-right: 25px;
    width: 90px;
    
}
.skill-main .rigth{

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.skill-main .title{

    margin-bottom: 10px;
}